In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib as mplt
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
%matplotlib inline
import seaborn as sns

from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix,classification_report
np.set_printoptions(threshold=np.nan)

In [2]:
arr = np.array([1,2,3,4,5,6,7,8,9,10])

In [3]:
print(arr.mean())
print(arr.sum())

5.5
55

In [4]:
df = pd.read_csv("gender_submission.csv")

In [5]:
df.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [6]:
df["PassengerId"].nunique()

418

In [8]:
dtypes = df.dtypes
dtypes

PassengerId    int64
Survived       int64
dtype: object

In [9]:
!pwd

/home/seb/Documents/Kaggle/titanic/data